*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  font-family: "Courier New";
  scroll-behavior: smooth;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  transition: background 1s ease-out;
  overflow-x: hidden;
}
#contents {
  padding-top: 70px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  z-index: 100;
}
header > img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  object-fit: cover;
  object-position: center top;
}
header h1 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-100%);
  color: yellow;
  z-index: 1;
}
img {
  width: 100%;
}
#about {
  display: flex;
}
#about > img {
  width: 25%;
}
.glitch {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: difference;
  transition: opacity 0.3s ease-out;
  opacity: 1;
}
.particle {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
#loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
a,
p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
label {
  font-weight: bold;
  color: white;
}
a {
  text-decoration: none;
}
a:hover {
  color: black;
}
#lit-widget-container {
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}
.set-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 768px;
  margin: 0 auto;
}
.set-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.set-item iframe {
  width: 100%;
  height: 200px;
  border: none;
}
.podcast-list {
  display: flex;
  gap: 20px;
}
.podcast-item {
  margin: 0 auto;
}
.hidden {
  display: none;
}
label {
  display: block;
  margin-top: 10px;
}
input,
textarea {
  width: 100%;
  max-width: 400px;
}
button {
  margin-top: 10px;
}
footer {
  border-top: 3px solidã€€#ffffff;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #lit-widget-container {
    width: 100%;
    margin: 0 auto;
  }
  .set-list {
    width: 100%;
    margin: 0 auto;
  }
  .set-item iframe {
    width: 100%;
    height: 180px;
  }
  .podcast-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
  }
  .podcast-item {
    text-align: left;
    margin: 0 auto;
  }
  body {
    max-width: 768px;
    margin: 0 auto;
    overflow-wrap: break-word;
  }
  #about {
    flex-flow: column-reverse;
  }
  #about > img {
    width: 100%;
    margin: 0 auto;
  }
}
html,
body {
  overflow-y: auto !important;
}
details > summary {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
details > summary > * {
  margin: 0;
  display: inline;
}
#sidebar {
  top: 0;
  left: -250px;
  position: fixed;
  width: 250px;
  height: 100%;
  background: #333;
  padding-top: 15%;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 1000;
  opacity: 0.5;
}
#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sidebar li {
  margin: 10% 0;
}
#sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
#hamburger {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
  cursor: pointer;
  width: 30px;
  height: 25px;
}
#hamburger div {
  width: 100%;
  height: 4px;
  background: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}
