name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install and Build frontend dependencies
        run: |
          [ -d frontend ] && cd frontend || echo "not exist"
          npm install
          npm install --save-dev typescript @types/react @types/node
          npm run build
